## 验证智能合约

现在您已经了解了如何部署合约，您可能有兴趣了解如何使用官方区块浏览器**验证**部署在 zkSync 上的合约。 关于如何验证合约的所有细节都可以在 [区块浏览器](https://v2-docs.zksync.io/api/tools/block-explorer/contract-verification.html) 页面上找到。
